<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:aop="http://www.springframework.org/schema/aop"  
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop   http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/cache
    http://www.springframework.org/schema/cache/spring-cache.xsd"
	default-autowire="byName">
	
    <aop:config proxy-target-class="true"></aop:config>

	<!-- 启用缓存注解功能，这个是必须的，否则注解不会生效，指定一个默认的Manager，否则需要在注解使用时指定Manager -->
	<cache:annotation-driven cache-manager="cacheManager" />

	<!-- memcached缓存管理器 -->
	<bean id="cacheManager" class="cn.salesuite.common.memcached.MemcachedCacheManager">
		<property name="caches">
			<set>
				<bean class="cn.salesuite.common.memcached.MemcachedCache" p:client-ref="memcachedClient"
					p:name="default" p:exp="86400" />
				<bean class="cn.salesuite.common.memcached.MemcachedCache" p:client-ref="memcachedClient"
					p:name="city" p:exp="3600" />
			</set>
		</property>
	</bean>

	<bean id="cityService" class="cn.salesuite.common.memcached.CityService" />
</beans>